/* app/globals.scss */

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
div {
  margin: 0px;
  padding: 0px;
}

section {
  margin: 0;
}
