$primary-color: #0040ff;
$secondary-color: #000000;
$hover-color: darken($primary-color, 10%);

.mobileNavList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  .navItem {
    width: 15rem;
    text-align: center;

    a {
      color: $secondary-color;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $hover-color;
      }
    }
  }
}

.navbar {
  z-index: 3;
  width: 100vw;
  padding: 10px 0px;
  position: fixed;
  top: 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  .navItem {
    width: 15rem;
    &:nth-child(2) {
      text-align: center;
    }
    &:last-child {
      text-align: end;
      padding-right: 3px;
    }

    a {
      color: $secondary-color;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: $hover-color;
      }
    }
  }
}
